<div align="center">
  <br>
  <h1>404 ERROR</h1>
  <img src="/style/404.png" class="responsive">
  <br>
  <p class="lead text-center"><strong>Maybe aliens have abducted your page. Try a different URL.</strong></p>
  <p><a href="https://tools.ietf.org/html/rfc7231#section-6.5.4">Read a more useful page about 404 errors.</a></p>
</div>