<div align="center">
  <br>
  <h1>500 ERROR</h1>
  <img src="/style/500.jpg" class="responsive rounded-circle">
  <br>
  <p class="lead text-center"><strong>Uh-oh, there's a glitch in the Matrix!</strong></p>
  <p><a href="https://en.wikipedia.org/wiki/List_of_HTTP_status_codes#5xx_Server_errors">There's a Wikipedia page for you to find out more about that.</a></p>
</div>